---
layout: default
---
<div class="post">
	<h3 class="title">{{ page.title }}</h3>
		<p class="meta"><span class="date">Posted on {{ page.date | date_to_string }}</span><span class="posted">Posted by <a href="{{ page.author_web }}">{{ page.author_name }}</a></span></p>
		<div class="entry">
			<p>{{ content }}</p>
		</div>
		<center>
			

<iframe id="youtube_frame" src="https://www.youtube.com/embed/{{ page.youtubeId }}?rel=0" frameborder="0" allowfullscreen></iframe>

		</center>
</div>

<div id="related">
  <h3 class="title">Demos Posts</h3>
  <p>
  <ul class="posts">
    {% for post in site.categories.demos limit:3 %}
      <li>
		<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
	</li>
    {% endfor %}
  </ul>
  </p>
</div>
